html,
body {
    margin: 0;
    overflow: none;
}

.title {
    text-align: center;
    font-size: 5rem;
}

.controls {
    display: flex;
    justify-content: space-around;
    margin: 0rem 42rem;
}

.controls>label {
    font-size: 2rem;
}